body{
    background-color: black;
    font-family: "Roboto Condensed","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
    "Lucida Grande", sans-serif;
    font-weight: 300;
}
#wrapper{
    width: 960px;
    height: 1553px;
    margin-left: auto;
    margin-right: auto;
    background-color: silver;
}
#header{
    background-color: grey;
    outline: 1px solid #000;
    outline-offset: -4px;
}
#main{
    font-size: 33px;
}
nav li{
    float: right;
    text-align: center;
    padding: 14px 16px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
.link{
    padding-top: 30px;
}
#content p{
    font-size: 13px;
    line-height: 1.6;
    padding-top: 35px;
    padding-bottom: 30px;
    clear: right;
    padding-right: 13px;
}
#content {
    width: 541px;
    padding-left: 40px;
    float: left;
    clear: both;
    outline: 1px solid #000;
    outline-offset: -4px;
}
#content img {
    height: 150px;
    width: 150px;
    padding-top: 50px;
    padding-right: 25px;
    padding-bottom: 50px;
    float: left;
    clear: both;
}
#content h1{
    text-align: center;
    padding-right: 20px;
}
 

.fullborder{
    border: black solid thin;
}
#sidebar {
    width: 375px;
    float: left;
    outline: 1px solid #000;
    outline-offset: -4px;
}
#sidebar h2{
    text-align: center;
}

#sidebar p {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 13px;
    line-height: 23px;
}